/* section */
.sectionConatiner{
  display: flex;
}
.sliderbar-AND-banner-DIV{
    display: flex;
    gap: 40px;
    align-items: end;
    justify-content: space-between;
    position: relative;
}
 
  .sidebar {
    max-width: 250px;
    width: 100%;
    border-right: 1px solid #B3B3B3;
    padding-top: 50px;
    position: relative;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-right: 16px;
    
  }
  
  .sidebar ul li {
    padding: 0;
  
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: inline-block;
    font-size: 16px;
    transition: all 0.3s;
    border: none;
  }


.sliderbar-links{
  position: relative;
}

  .sliderbar-links::before{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: scale(0);
    transition: all 0.6s;
    transform-origin: left;
  }
  .sidebar ul li:hover .sliderbar-links::before{
    transform: scale(1);
  }
  .sidebar ul li:hover .sliderbar-links{
    transform: scale(1.2);
  }
  
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    background-color: #ff4c4c;
  }

  .banner {
    position: relative;
    background-color: #000;
    color: #fff;
    padding: 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .banner-content{
    display: flex;
    flex-direction: column;
    gap: 21px;
    align-items: start;
    padding-left: 50px;
  }
  .banner-content p {
    font-size: 16px;
  }
  
  .shop-button {
    color: #fff;
    display: inline-flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
  }
  .shop-button p {
    font-size: 16px;
    border-bottom: 1px solid white;
  }
  
  .carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .indicator {
    height: 10px;
    width: 10px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
  }
  
  .indicator.active {
    background-color: #ff4c4c;
  }


  .flex-spaceBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .apple-logo-container{
    display: flex;
    align-items: end;
    font-size: 16px;
    align-items: center;
    gap: 15px;
  }
  .apple-logo-container p{
    padding-top: 7px;
  }
  .banner-img{
    height: 249px;
  }

  @media (max-width:1100px){
    .sidebar{
      position: absolute;
      top: 0;
      z-index: 999999;
      background-color: #ffffffc2;
      left: -270px;
      transition: all 0.3s ease-in-out;
    }
    .slidbar-show-hide{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -30px;
      padding: 20px 10px;
      border-radius: 0 5px 5px 0;
      background-color: #ffffffc5;
      box-shadow: inset 0 0 20px #ff4c4c;
    }
    .slidebar-transform{
      left: 0;
    }
  }
  @media (max-width:920px){
    .sliderbar-AND-banner-DIV{
      gap: 10px;
    }
    .banner{
      flex-direction: column;
      gap: 10px;
    }
    .banner-content{
      align-items: center;
      text-align: center;
    }
  }
  @media (max-width:655px){
    
  }