body{
    background-color: #F5F5F5;
}
.direction-container{
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    margin-bottom: 70px;

}
.contects-container{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    animation: transform 0.5s linear forwards;
}
.contact{
    background-color: #ffffff;
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
    padding: 40px 35px;
    max-width: 340px;
    width: 100%;
}
.contact-header{
    display: flex;
    align-items: center;
    gap: 16px;
    padding-bottom: 8px;
}
.contact-title{
    font-size: 16px;
}
.contact-description{
    font-size: 14px;
}
.contact-phone{
    font-size: 14px;
}
.contact-HR-space{
    margin: 16px 0;
}


/* massage-container */
.massage-container{
    background-color: #ffffff;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 32px;
    padding: 40px 30px;
}
.massage-inputs{
    display: flex;
    gap: 16px;
    align-items: center;
}
.massage-inputs input{
    font-size: 16px;
    max-width: 235px;
    width: 100%;
    background-color: #F5F5F5;
    padding: 13px 16px;
    border-radius: 4px;
}
.massage-send-btn{
    background-color: #DB4444;
    color: white;
    border-radius: 4px;
    padding: 16px 48px ;
    font-size: 16px;
    align-self: flex-end;
}
.massage-container textarea{
    font-size: 16px;
    width: 100%;
    background-color: #F5F5F5;
    padding: 13px 16px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
}

@media (max-width:900px){
    .direction-container{
        margin-bottom: 40px;
    }
    .contects-container{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .contact{
        max-width: 100%;
    }
    .massage-inputs input{
        font-size: 10px;
    }
    .massage-container textarea{
        font-size: 10px;
    }
    .massage-container ::placeholder{
        color: #DB4444;
    }
}