.category-browse {
  text-align: center;
}

.categories-main-container{
  border-top: 1px solid #B3B3B3;
  border-bottom: 1px solid #B3B3B3;
  padding: 70px 0;
}
.categories {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.category-card {
  max-width: 170px;
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  margin: 0 auto;
}

.category-card img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.category-card.selected {
  background-color: #f44336;
  color: #fff;
  transform: translateY(-10px);
}
.category-card:hover {
  background-color: #f44336;
  color: #fff;
  transform: translateY(-10px);
}

.heading-arrows {
  display: inline-flex;
  gap: 9px;
  align-items: center;
}
.section-title {
  padding: 20px 0 60px 0;
}
@media (max-width:900px){
  .categories-main-container{
    padding: 40px 0;
  }
}