@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=League+Spartan:wght@100..900&family=Margarine&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pro-container{
    max-width: 1170px;
    padding: 0 25px;
    margin: 24px auto 0 ;
}
.red-rec{
    height: 40px;
    width: 20px;
    background-color: #db4444;
    border-radius: 4px;
}
.overview-main{
    display: flex;
    justify-content: space-between;
}
.overview-head{
    display: flex;
    align-items: center;
    gap: 16px;
}
.overview-h3{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: bolder;
    line-height: 20px;
    color: #db4444;
}
.overview-h1{
    font-size: 36px;
    font-weight: bolder;
    line-height: 48px;
    letter-spacing: 3px;
}
.overview-btns{
    display: flex;
    gap: 20px;
    div{
        width: 46px;
        height: 46px;
        border-radius: 50%;
        background-color: rgb(245, 245, 245);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.products{
    display: flex;
    gap: 10px;
    overflow: auto;
    margin-top: 40px;
    /* ::-webkit-scrollbar {
        display: none;
    } */
}
.products::-webkit-scrollbar {
    display: none;
}

.mySwiper{
    margin: 40px 0;
}

.card-rating{
    display: flex;
}
.card-wrapper{
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.card-image-container{
    background: #dddada;
    border-radius: 4px;
    max-width: 270px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 40px;
    width: 100%;
    transition: all 0.3s;
}
.add-to-cart{
    position: absolute;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    left: 0;
    bottom: 0;
    height: 41px;
    max-width: 270px;
    width: 100%;
    background: black;
    transform: scaleY(0);
    transform-origin: bottom;
    border-radius: 0 0 4px 4px;
    transition: all 0.3s;
    cursor: pointer;
}
.card-image-container:hover .add-to-cart{
    transform: scaleY(1);
}
.card-img{
    transition: all 0.3s;
}
.card-image-container:hover .card-img{
    transform: scale(1.1);
}
.like-Eye-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: absolute;
    right: 4%;
    top: 6%;
}
.like-Eye-container img{
    cursor: pointer;
}
.card-percentOFF{
    position: absolute;
    top: 6%;
    left: 4%;
    padding: 4px 10px;
    font-size: 12px;
    color: white;
    font-weight: 500;
    background-color: #DB4444;
    border-radius: 4px;
}