* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.dark {
  color: #fff;
  background-color: black;
}

body.light {
  color: #000;
  background-color: #fff;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
}

button {
  outline: none;
  border: none;
  background: transparent;
  display: inline-block;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  display: block;
}

input {
  border: none;
  outline: none;
  background: transparent;
}
body {
  font-family: "Inter", sans-serif;
}
.all-Headings {
  font-size: 36px;
  font-weight: 700px;
}

.all-section {
  padding: 70px 0;
}

.all-buttons {
  padding: 16px 48px;
  font-size: 16px;
  color: white;
  display: inline-block;
  border-radius: 4px;
}
.flex-spaceBetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.viewAllBtn {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upArrow {
  position: fixed;
  right: 2%;
  bottom: 2%;
  z-index: 9999999999999;
}

@keyframes transform {
  0% {
    transform: translateY(1000px);
  }
  70% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

.all-projects{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  gap: 5px;
  padding: 50px 0;
}
.error-div{
  padding-top: 50px;
  text-align: center;

}
.overview-h1{
  font-size: 36px;
  font-weight: bolder;
}
.error-div h1{
  font-size: 110px;
  margin-bottom: 40px;
}
.error-div p {
  font-size: 16px;
  margin-bottom: 80px;
}

.display-none-block-1100{
  display: none;
}

@media (max-width: 1100px){
  .display-block-none-1100{
    display: none;
  }
  .display-none-block-1100{
    display: block;
  }
  .all-section {
    padding: 50px 0;
  }
  .all-projects{
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.display-none-to-block-655{
  display: none;
}
@media (max-width:900px){
  .overview-h1{
    font-size: 25px;
  }
  .categories-main-container{
    padding: 40px 0;
  }
  .all-projects{
    grid-template-columns: 1fr 1fr;
  }
}


@media (max-width:655px){
  .display-block-none-655{
    display: none;
  }
  .display-none-to-block-655{
    display: block;
  }
  .all-section {
    padding: 35px 0;
  }
  .overview-h1{
    font-size: 18px;
  }
  
  .all-projects{
    grid-template-columns: 1fr;
  }

}